# Drizzle
DATABASE_URL=local.db

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# OIDC
# Uncomment and use these variables to enable OIDC authentication (upon setup)
# You can later change or disable these values in the admin panel.
#
#INIT_OIDC_ID="my-provider"
#INIT_OIDC_DISPLAY="My Provider"
#INIT_OIDC_URL="https://my-provider.com"
#INIT_OIDC_CLIENT_ID="my-client-id"
#INIT_OIDC_CLIENT_SECRET="my-client-secret"
#INIT_OIDC_AUTH_TYPE="basic" # or "post"
#INIT_OIDC_SCOPE="openid profile email"